.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logout_btn {
  position: absolute;
  margin-top: 65vh;
}

h2 {
  text-align: center;
  margin-top: 10vh;
}
